
        
      <div class="row" style="display: inline; margin-bottom: 0;">
        <span class="col-sm-4">
          <% if User.where(id: @user.id, avatar: nil).present? %>
            <%= image_tag @user.gravatar_url %>
          <% else %>
            <%= image_tag @user.avatar_url(:regular)  %>
          <% end %>
        </span>
        <span class="col-sm-4 profile_name"><%= @user.full_name %></span>
        <span class="col-sm-4 pull-right">
            
            
            <!-- verifico di non essere nel mio profilo -->
            
              
              <% if (current_user!=nil && current_user.id!=@user.id ) %>
                  <% if current_user.has_role? :manager %>
                  
                      <% if @user.has_role? :user %>
                        <%= link_to "Upgrade to Moderator", upgrade_path(id: @user.id), method: 'post' %>
                      <% else %>
                        <%= link_to "Downgrade to User", downgrade_path(id: @user.id), method: 'post' %>
                      <% end %>
                  <% end %>
                  <% if current_user.has_friend(@user.id) %>
                      <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post' %>
                      <%= link_to "Delete Friendship", user_friendship_path(@user), :method => :delete , class: "btn btn-danger"%>
                  <% else %>
                      <%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: "btn btn-success" %>
                  <% end %>
              <% else %>
                  <%= link_to "Update Profile", edit_user_registration_path, class: "btn btn-info" %>
              <% end %>
            
        
            
        
            <!--%= link_to "Add A Book", new_book_path, class: "btn btn-danger" %-->
          
        </span>
        

      </div>


<!-- Ordino i libri per data di aggiunta (ultimi per primi) , eventualmente da integrare nel controller in Show -->
<div class="container" style="padding-top:0;">
     
<% @user_books = Book.where(user_id: @user).order("created_at DESC") %>
<% if @user_books %>

 <% @user_books.each do |book| %>
     
        <hr>
        <div id="book" class="row well slideUp" style="margin: 1em 0 1em 0;">
          
          <div class="span2">
            <%= link_to image_tag(book.cover_uri), book_path(book.id) %>
          </div>
          <div class="span6">
            
                <h1><span class="label label-info">Title </span></h1>
                <strong><%= book.title %></strong>
     
            <br>
           
                <h1><span class="label label-info">Author </span></h1>
                <strong><%= book.author %></strong>
                
            <br><br>
            <div class="meta">
              <%= link_to time_ago_in_words(book.created_at)+" ago", book %>
              <span class="admin">
              <% if current_user==@user %>
                | <%= link_to "Edit", edit_book_path(book) %> |
                <%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure you want to Delete this book?" } %>
              <% end %>
              </span>
            </div>
          </div>
        </div>
      
    <% end %>
    
<% end %>
</div>