
<div class="page-header">
    <div class="row">
        <div class="span4">
          <% if User.where(id: @user.id, avatar: nil).present? %>
            <%= image_tag @user.gravatar_url %>
          <% else %>
            <%= image_tag @user.avatar_url(:regular)  %>
          <% end %>
        </div>
        
        <div class="span5">
            <div class="profile_name"><%= @user.full_name %></div>
            <br><br>
            <!-- verifico di non essere nel mio profilo -->
            <% if (current_user.id!=@user.id) %>
              <%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: "btn btn-success" %>
            <% else %>
              <%= link_to "Update Profile", edit_user_registration_path, class: "btn btn-info" %>
            <% end %>
            <br><br>
            <%= link_to "Add A Book", new_book_path, class: "btn btn-danger" %>
        </div>
        
        
        
        
    </div>
</div>

<!-- Ordino i libri per data di aggiunta (ultimi per primi) , eventualmente da integrare nel controller in Show -->

<% @user_books = Book.where(user_id: @user).order("created_at DESC") %>
<% if @user_books %>

 <% @user_books.each do |book| %>
      <div>
        <div id="book" class="row well slideUp">
          <div class="span2">
            <%= link_to image_tag(book.cover_uri), book_path(book.id) %>
          </div>
          <div class="span6">
            
                <h1><span class="label label-info">Title </span></h1>
                <strong><%= book.title %></strong>
     
            <br>
           
                <h1><span class="label label-info">Author </span></h1>
                <strong><%= book.author %></strong>
                
            <br><br>
            <div class="meta">
              <%= link_to time_ago_in_words(book.created_at)+" ago", book %>
              <span class="admin">
                | <%= link_to "Edit", edit_book_path(book) %> |
                <%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure you want to Delete this book?" } %>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    
<% end %>
