<div class="page-header">
    <div class="row">
        <div class="span4">
            <%= image_tag @user.gravatar_url %>
        </div>
        <div class="span5">
            <div class="profile_name">Friends</div>
        </div>
    </div>
</div>

<% if @actual_friendships_friend %>
    <% @actual_friendships_friend.each do |friend| %>
            <div class="row well" style="margin: 1em 0 1em 0;">
                <div class="span2">
                    <% if User.where(id: friend.user_id, avatar: nil).present? %>
                        <% puts "no thumb for "+ User.where(id: friend.user).to_s  %>
                        <%= image_tag image_tag(User.find(friend.user_id).gravatar_url) %>
                    <% else %>
                        <% puts "we have a  thumb" %>
                        <%= image_tag User.find(friend.user_id).avatar_url(:thumb) %>
                    <% end %>
                </div>
                <div class="span4">
                    <strong><%= link_to User.find(friend.user_id).full_name , profile_path(User.find(friend.user_id).profile_name) %></strong>
                </div>
            </div>
    <% end %>
<% end %>

<% if @actual_friendships_user %>
    <% @actual_friendships_user.each do |user| %>
            <div class="row well" style="margin: 1em 0 1em 0;">
                <div class="span2">
                    <% if User.where(id: user.friend_id, avatar: nil).present? %>
                        <%= image_tag image_tag(User.find(user.friend_id).gravatar_url) %>
                    <% else %>
                        <%= image_tag User.find(user.friend_id).avatar_url(:thumb)  %>
                    <% end %>
                </div>
                <div class="span4">
                    <strong><%= link_to User.find(user.friend_id).full_name, profile_path(User.find(user.friend_id).profile_name) %></strong>
                </div>
            </div>
    <% end %>
<% end %>



<div class="page-header">
    <div class="row">
        <div class="span5">
            <div class="profile_name">Friends Requests</div>
        </div>
    </div>
</div>

<% if @friendships_requested  %>
    <% @friendships_requested.each do |request| %>
            <div class="row well" style="margin: 1em 0 1em 0;">
                <div class="span2">
                    <% if User.where(id: request.user_id, avatar: nil).present? %>
                        <%= image_tag(User.find(request.user_id).gravatar_url) %>
                    <% else %>
                        <%= image_tag User.find(request.user_id).avatar_url(:thumb) %>
                    <% end %>
                </div>
                <div class="span4">
                    <h4><%= link_to User.find(request.user_id).full_name, profile_path(User.find(request.user_id).profile_name)  %> Asked you to be Friends!</h4>
                </div>
                <div class="span2">
                    <%= link_to "Accept", accept_friendship_path(request), class:"btn btn-success" %>
                    <%= link_to "Decline", decline_friendship_path(request), class:"btn btn-danger" %>
                </div>
            </div>
    <% end %>
<% end %>


