
<% if @friend %>
    <h1><%= @friend.full_name %></h1>
    
    <p>Do you really want to ask <%= @friend.full_name %> for friendship?</p>
    
    
    <%= form_for @user_friendship, method: :post do |form| %>
        <div class="form form-actions">
            <%= form.hidden_field :friend_id, value: @friend.profile_name %>
            <%= submit_tag "Yes, add Friend", class: 'btn btn-primary'%>
            <%= link_to "Cancel", profile_path(@friend),  class: 'btn' %>
        </div>
    <% end %>
<% end %>