<div class="profile_name" style="padding-top:1em;">Edit <%= resource_name.to_s.humanize %></div>
<br> <br>
<div class="field text">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , multipart: true}) do |f| %>
  <%= devise_error_messages! %>


    <% if current_user.avatar_url.present? %>
      <%= image_tag current_user.avatar %>
      <p>
      <%= f.check_box :remove_avatar %><%= f.label :remove_avatar %>
      </p>
    <% end %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  <div class="field text">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %><br>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field text" autocomplete="off">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br>
    <%= f.password_field :password, autocomplete: "off" %><br>
  </div>

  <div class="field text">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %><br>
  </div>

  <div class="field text">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br>
    <%= f.password_field :current_password, autocomplete: "off" %><br>
  </div>

  <div class="actions">
    <%= f.submit "Update" , :class => 'btn btn-info' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p class="text">Why would you do that? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to "Back", :back %>
</div>