<h1>Editing Book</h1>
<%= simple_form_for(@book) do |f| %>
  <div class="form-inputs">
    
  </div>
  <%= f.input :description %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
