<div class="page-header">
  <div class="row">
    <h1>Listing Books <%= link_to 'Share a Book!', new_book_path, {  :style =>'float:right;',:class => "btn btn-success" } %></h1>
    
  </div>
</div>

    <% @books.each do |book| %>
      <div class="book">
        <div class="row well">
          <div class="span2">
            <%= link_to image_tag(book.cover_uri), book_path(book.id) %>
          </div>
          <div class="span6">
            <strong><%= book.title %></strong>
            <p><%= book.author %></p>
            <p>Added by <%= User.find(book.user_id).full_name %>.</p>
            <div class="meta">
              <%= link_to time_ago_in_words(book.created_at)+" ago", book %>
              <span class="admin">
                | <%= link_to "Edit", edit_book_path(book) %> |
                <%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure you want to Delete this book?" } %>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

<br>

<%= link_to 'New Book', new_book_path %>
