<div class="page-header">
  <div class="row">
    <div class="profile_name">Listing Books </div> <%= link_to 'Add a Book +', new_book_path, {  :style =>'float:right;',:class => "btn btn-success" } %>
    
  </div>
</div>

    <% @books.each do |book| %>
      <div>
        <div id="book" class="row well slideUp" style="margin: 1em 0 1.5em 0">
          <div class="span2">
            <%= link_to image_tag(book.cover_uri), book_path(book.id) %>
            <% if user_signed_in? %>
              <% if (current_user and current_user.voted_for? book )%>
                <% if current_user.voted_as_when_voted_for book %>
                  <button type="button" class="btn btn-success btn-circle btn-xl">
                    <i class="icon-thumbs-up"></i>
                    <%= link_to "Liked", unlike_book_path(book), method: :put, style: "color:#FFFFFF;" %>
                  </button>
                <% else %>
                  <button type="button" class="btn btn-danger btn-circle btn-xl">
                    <i class="icon-thumbs-down"></i>
                    <%= link_to "Disliked", undislike_book_path(book), method: :put, style: "color:#FFFFFF;"  %>
                  </button>
                <% end %>
              <% else %>
                <%= link_to "Like", like_book_path(book), method: :put, class: "btn btn-success" %>
                <%= link_to "Dislike", dislike_book_path(book), method: :put, class: "btn btn-danger" %>
                  <!-- contatore like
                  <br>
                  <strong><= book.get_likes.size %></strong>
                  <strong><= book.get_dislikes.size %></strong>
                  -->
              <% end %>
              <div style="whitespace:nowrap">
                <strong ><%= book.distance(current_user.user_lat,current_user.user_lng) %> km from you!</strong>
              </div>
            <% end %>
          </div>
          <div class="span5" style="padding:2em;">
            <div style="white-space:nowrap">
              <span class="label label-info">Title </span>
              <strong style="padding-left:1em;"><%= book.title %></strong>
            </div>
            <br>
            <div style="white-space:nowrap">
              <span class="label label-info">Author </span>
              <strong style="padding-left:1em;"><%= book.author %></strong>
            </div>
            <br>
            
            <!-- Prima di mostrare il proprietario del libro controlliamo che l'utente sia loggato -->
            <% if user_signed_in? %>
              <div style="white-space:nowrap">
                <span class="label label-important">Owner </span>
                <strong style="padding-left:1em;"><%= link_to User.find(book.user_id).full_name, profile_path(User.find(book.user_id).profile_name) %>.</strong>
              </div>
            <% end %>
            <br>
            <div class="meta">
              <%= link_to time_ago_in_words(book.created_at)+" ago", book %>
              
                <% if ((current_user && book.user_id == current_user.id) || (current_user && (current_user.has_role? :moderator))) %>
                  <span class="admin">
                    | <%= link_to "Edit", edit_book_path(book) %> |
                    <%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure you want to Delete this book?" } %>
                  </span>
                <% end %>
              
            </div>
          </div>
          <!-- form della proposta di scambio , verifichiamo che l'utente sia loggato -->
          
          <% if user_signed_in? %>
            <% if !current_user.books.include?(book) %>
              <div class="span3" style="padding-top:2em;">
                <span class="label label-info">Swap Proposal</span>
                <%= form_tag swaps_path(book, :other_book) , :method => :post  do %>
                  <%= select_tag :other_book, options_from_collection_for_select(current_user.books, "id", "title") %>
                  <input type="submit" value="Submit" class="btn btn-info">
                <% end %>
                </br>
                <% if book.swaps_count>0 %>
                  <span class="label label-success">Swapped <%= book.swaps_count %> times</span>
                <% else %>
                  <span class="label label-info">Never Swapped</span>
                <% end %>
              </div>
            <% end %>
          <% end %>
          
        </div>
      </div>
    <% end %>
    
