<div class="container">
<div class="book well">
    <div class="row">
        <div class="span2" style="margin: auto 2em auto 2em;">
            <%= link_to image_tag(@book.cover_uri), book_path(@book.id) %>
            <% unless @book.preview_link.nil? %>
                    <%= link_to "Preview", @book.preview_link , class:"btn btn-success"%>
            <% end %>
        </div>
        <div class="span3">
            <div class="row">
                <h1><span class="label label-info">Title </span></h1>
                <strong><%= @book.title %></strong>
            </div>
            <br>
            <div class="row">
                <h1><span class="label label-info">Author </span></h1>
                <strong><%= @book.author %></strong>
            </div>
        </div>
        <div class="span3">
            <div class="row">
                <h1><span class="label label-info">ISBN </span></h1>
                <strong><%= @book.isbn %></strong>
            </div>
            <br>
            <div class="row">
                <h1><span class="label label-info">Owner </span></h1>
                <strong><%= link_to User.find(@book.user_id).full_name, profile_path(User.find(@book.user_id).profile_name) %></strong>
            </div>
        </div>
        <div class="span2">
            <div class="row">
                <h1><span class="label label-success">Likes </span></h1>
                <strong><%= @book.get_likes.size %></strong>
            </div>
            <br>
            <div class="row">
                <h1><span class="label label-important">Dislikes </span></h1>
                <strong><%= @book.get_dislikes.size %></strong>
            </div>
            <div class="row">
                
            </div>
        </div>
    </div>
</div>
<div class="description well">
    <span class="label label-important">Description </span>
    <br><br>
    <p><%= @book.description.html_safe %></p>
</div>
<% if @book.comments %>
    <div class="comments well">
        <span class="label label-success" style="float:left;">Comments</span>
        <br><br>
        <% @book.comments.each do |comment| %>
            <hr>
            <div class="row">
                <div class="span2">
                    <%= link_to image_tag(comment.user.avatar_url(:thumb)), profile_path(comment.user.profile_name) %>
                </div>
                <div class="span6">
                    <div class="user-name">
                        <%= comment.user.full_name %>
                    </div>
                    
                    <div class="comment_content">
                        <%= comment.content %>
                    </div>
                </div>        
                <% if comment.user == current_user %>
                    <div class="delete-comment">
                        <%= link_to "x", book_comment_path(@book, comment), method: :delete, class: "close",  data: { confirm: "Are you sure?" } %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>
    <div class="comments well">
        <div class="comment-form">
            <%= form_for [@book, @book.comments.new] do |f| %>
                <%= f.text_field :content, placeholder: 'Add a comment...' %>
            <% end %>
        </div>
    </div>

<!-- Edit link available only for book's owner -->

<% if current_user.id == @book.user_id %>
    <%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>

<%= link_to 'Back', books_path %>
