<div class="row">
  <div class="span4">
    
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well"}) do |f| %>
      <div class="text" style="color:#333333;">
        <fieldset>
          <legend>Sign In</legend>
          <%= f.input :email , label: false, placeholder: "email" %>
          <%= f.input :password, label: false, placeholder: "password" %>
          <%= f.hidden_field :user_lat, :id => "lat" %>
          <%= f.hidden_field :user_lng, :id => "lng"  %>
        <!--% if devise_mapping.rememberable? %-->
            <!--%= f.input :remember_me, as: :boolean %-->
        <!--% end -%-->
      
          <div class="actions">
            <%= f.button :submit , value: "Log In",  :class => 'btn btn-info' %>
          </div>
        </fieldset>
      </div>
      
    <% end %>

    <%= render "devise/shared/links" %>
    
  </div>
  <div class="span6">
    <div class="profile_name" style="padding-top:2em;margin-left:0;">Join us, it's free!</div>
  </div>
</div>

<script type="text/javascript">
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(GeoL);
        function GeoL(position) {
          document.getElementById('lat').value = position.coords.latitude;
          document.getElementById('lng').value = position.coords.longitude;
        }
    }
    else {
      console.log('Geolocation is not supported for this Browser/OS version yet.');
    }
</script>