<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        
        <a class="brand" href="#">
          Bloggerz.
        </a>
        <ul class="nav">
          <li><%= link_to "All Statuses", statuses_path %></li>
          
          
        </ul>
        
      </div>
    </div>
  </div>
  
  <div class="container">

<%= yield %>

  </div>
</body>
</html>
